%p test
= link_to 'to pdf', to_pdf_images_path
= link_to 'home', root_path
= image_tag(get_image_path("car.jpg"))
= image_tag(get_image_path("car.jpg"), :style => "margin-left:400px;margin-top:500px;")
