%p welcome to pdf conversion. Here I will be considering different cases of html like with images in it, with large number of records in a table.


= link_to 'html with images', html_with_images_path
= link_to 'html with table', html_with_table_path
